In [13]:
def compound_interest(principal, rate, time):
    amount = principal*(1+rate/100) ** time
    interest = amount - principal
    return interest

In [14]:
interest1 = compound_interest(1000,4,5)
print(interest1)

216.65290240000013

In [16]:
def calculate_total_amount(principal, rate, time):
    amount = principal*(1+rate/100)**time
    interest = amount - principal
    return interest

interest1 = calculate_total_amount(1000,4,5)
print(interest1)

216.65290240000013

In [17]:
def trip_cost(distance, transportation, discount=0):
    if transportation == "car":
        cost = distance * 0.5
    elif transportation == "train":
        cost = distance * 0.3
    else:
        cost =  distance * 1.0
    cost = cost - discount
    return cost

In [18]:
car_trip = trip_cost(300, "car")
train_trip = trip_cost(200, "train", discount = 2)
print("Car trip cost: ", car_trip)
print("Train trip cost: ", train_trip)

Car trip cost:  150.0
Train trip cost:  58.0

In [19]:
# Lambda function
add = lambda x,y:x+y
result = add(3,5)
print("Sum: ", result)

Sum:  8

In [20]:
tasks = [
    ("task 1", 3),
    ("task 2", 1),
    ("task 3", 2)
]
sorted_tasks = sorted(tasks, key=lambda task:task[1])
print(sorted_tasks)

[('task 2', 1), ('task 3', 2), ('task 1', 3)]